.hidden {
  display: none;
}

.invalid {
  border: 2px solid red !important;
}

.z-index {
  z-index: 5;
}

.error {
  position: fixed;
  top: 0;
  z-index: 100;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  background-color: red;
  color: white; ;
}

.img-foto {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}
